*,*::before, *::after {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    }

header{
    padding: 5px;
    display: flex;
    margin: 0;
    justify-content: space-between;
    background-color: cadetblue;
    color: navy;
    align-items: center;
}
#timer{
    margin-right: 20px;
    padding-right: 20px;
}

#viewhighscore {
    text-decoration: none;
    color: navy;
}

#viewhighscore:hover{
    font-weight: bold;
}

main {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    }

#question {
    color: cadetblue;
}

.container {
    width: 800px;
    max-width: 80%;
    border: solid black 2px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;

}

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
    
}

.btn {
    background-color: ghostwhite;
    border: black solid 1px;
    border-radius: 5px;
    padding: 5px 10px; 
    outline: none;
}

.btn:hover {
    background-color: lightslategrey;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

#rightwrong {
    display: flex;
    justify-content: center;

}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.finished {
    font-size: 45px;
    text-align: center;
}